body {
       
      color: whitesmoke;

      background-color: black;

}
.vp1{

      background-image: url(https://i.ibb.co/5Kyz33F/maxresdefault.jpg) ;
}

#H{
      text-align: center;
      color: black;
} 

#vp2{
      background-image: url(https://i.ibb.co/w4bpq8k/download-2.jpg);
}
 .he{
      text-align: center;

 }
 .gig{
      text-align: center;
 }

 .imgg{
      
      background-image: url();


 }
#form{
      
}